body{
    background-image: url("https://images.pexels.com/photos/2067638/pexels-photo-2067638.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");

    }
    #two{
        text-align:center;
    }
    #one{
        font-size: 55px;
        font-weight: 28px;
        font-style: oblique;
        background-color:white;
        display: inline-block;
        border-radius:10px;
       

    }
 a{
        font-size: 40px;
        font-weight:40px;
        
    background:rgba(255, 255, 255, 0.8);
        
        color:black;
        text-decoration:none;
        padding:5px;
        display:inline-block;
        border-radius:10px;
      }
    a:hover{
        color:lightblue;
    }

    #four{
        background:rgba(255, 255, 255, 0.8);
        display:inline-block;
        background-position:center;
        margin-left:470px;
        margin-top:20px;
        border-radius:10px;
        padding:10px;
        height:100%;
        font-style: italic;
}
#five{
    text-align:center;
    font-style: italic;
    background:rgba(255, 255, 255, 0.8);
    display: inline-block;
    border-radius:10px;
    margin:10px;
    padding:10px;

}
#five:hover{
    font-size:20px;
}
#four:hover{
    font-size:20px;

}
ul{
    margin:10px 10px 20px 40px;
    padding:10px;
    
}
#one1{
    background:rgba(255, 255, 255, 0.7);
    font-size: 25px;
    font-weight:15px;
    font-style: italic;
    margin-left:20px;
    
    margin-top:25px;
    height:90vh;
   
    border-radius:20px;

}
#one1:hover{
    font-size:30px;
}
table ,th,td{
    border:0px solid;
    padding:5px;


}
th{
    text-align:left;
}
    #one2{
        background:rgba(255, 255, 255, 0.7);

    font-style: italic;
    margin-left:20px;
    padding:10px;
    
    margin-top:10px;
    height:70vh;
    display:inline-block;
    border-radius:20px;
    height:100vh;

    }

    .two2{
        font-size: 35px;
    font-weight:25px;
    }
    .three2{
        font-size: 25px;
    font-weight:20px;
    padding:10px;
    text-align:center;
        
    }
    #one2:hover{
        padding:15px;
        
    }
    #one3{
        background:rgba(255, 255, 255, 0.7);

        font-style: italic;
        padding:10px;
        
        margin-top:30px;
        height:40vh;
        
        border-radius:20px;
       

    }
    #one3 p{
        font-size:25px;
        font-weight:20px;
    }
    #one3 p:hover{
        font-size:30px;

    }
 #done,#done1,#done2{
    float:right;
}